*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #060a1f;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock h2{
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    margin: 30px 0px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 1em;
}

#clock .time{
    display: flex;
}
#clock .time div{
    position: relative;
    margin: 0px 5px;
    -webkit-box-reflect: below 1px linear-gradeint(transparent,#0004);
}

#clock .time div span{
    position: relative;
    display: block;
    width: 100px;
    height: 80px;
    background: #2196f3;
    color: #fff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);

}

#clock .time div span:nth-child(2){
    height: 30px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-size: 500;
    z-index: 9;
    box-shadow: none;
    background:#127fd6;
    text-transform: uppercase;
}
#clock .time div:last-child span{
    background-color: #ff006a;
}
#clock .time div:last-child span:nth-child(2){
    background-color: #ec0062;
}
.ext{
    background-color: #ff006a !important;
    color: #fff !important;
    border: none !important;
}
.btn{
    width: 100px !important;
    margin: 0px 2px !important;
}
